<?xml version="1.0"?>
<appSettings>
  <add key="AuthTokens.LoginBridge" value="zntdjLMXqbteZpeU2R2xkJ7Gzu4YlsQ4Dx4qFoZ1" />
  <add key="AuthTokens.Admin" value="hZLgUZkbcoKy6efyALvCm24TPkETwenMO86369rD" />
  <add key="RoomName" value="Rave Scrum and Announcements" />
  <add key="BotName" value="Standup" />
</appSettings>