@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cheng Huang<br/>
    Medidata Solutions<br/>
    350 Hudson St, New York, NY 10014<br/>
    <abbr title="Phone">Cell:</abbr>
    3478221949
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">chuang@mdsol.com</a><br />
</address>